<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <link rel="stylesheet" href="style.css">

    <title>Insure landing page</title>
</head>

<body onresize="myFunction()">
    <div class="container">
        <nav>
            <img src="images/logo.svg" alt="Insure Logo">
            <a href="#" class="nav-button" onclick="openNavbar()">
                <img id="nav-button-img" src="images/icon-hamburger.svg" alt=""></a>
            <div id="nav-items" class="nav-items nav-mobile">
                <a href="#" class="nav-item">How we work</a>
                <a href="#" class="nav-item">Blog</a>
                <a href="#" class="nav-item">Account</a>
                <a href="#" class="nav-item view-plans">View Plans</a>
            </div>
        </nav>
        <div class="hero">
            <div class="hero-img">
                <img src="images/image-intro-mobile.jpg" alt="">
            </div>
            <div class="hero-content-container">
                <div class="hero-content">
                    <h1>Humanizing your insurance.</h1>
                    <p>Get your life insurance coverage easier and faster. We blend our expertise and technology to help you find the plan that's right for you. Ensure you and your loved ones are protected.</p>
                    <button>View Plans</button>
                </div>
            </div>
        </div>
        <section class="about">
            <hr>
            <h2>We're different</h2>
            <div class="about-items">
                <div class="about-item">
                    <img src="images/icon-snappy-process.svg" alt="Snappy Process Icon">
                    <h3>Snappy Process</h3>
                    <p>Our application process can be completed in minutes, not hours. Don't get stuck filling in tedious forms.</p>
                </div>
                <div class="about-item">
                    <img src="images/icon-affordable-prices.svg" alt="Affordable Prices Icon">
                    <h3>Affordable Prices</h3>
                    <p>We don't want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible.</p>
                </div>
                <div class="about-item">
                    <img src="images/icon-people-first.svg" alt="People First Icon">
                    <h3>People First</h3>
                    <p>Our plans aren't full of conditions and clauses to prevent payouts. We make sure you're covered when you need it.</p>
                </div>
            </div>
        </section>
        <section class="more-about-us-banner">
            <h1>Find out more about how we work</h1>
            <button>How we work</button>
        </section>
        <section class="footer">
            <div class="upper-footer">
                <img src="images/logo.svg" alt="Insure Logo">
                <div class="social-icons">
                    <img src="images/icon-facebook.svg" alt="">
                    <img src="images/icon-twitter.svg" alt="">
                    <img src="images/icon-pinterest.svg" alt="">
                    <img src="images/icon-instagram.svg" alt="">
                </div>
            </div>
            <hr>
            <div class="lower-footer">
                <div class="lower-footer-item">
                    <h4>Our Company</h4>
                    <ul>
                        <li>How we work</li>
                        <li>Why insure?</li>
                        <li>Check price</li>
                        <li>Reviews</li>
                    </ul>
                </div>
                <div class="lower-footer-item">
                    <h4>Help me</h4>
                    <ul>
                        <li>Faq</li>
                        <li>Terms of use</li>
                        <li>Privacy policy</li>
                        <li>Cookies</li>
                    </ul>
                </div>
                <div class="lower-footer-item">
                    <h4>Contact</h4>
                    <ul>
                        <li>Sales</li>
                        <li>Support</li>
                        <li>Live chat</li>
                    </ul>
                </div>
                <div class="lower-footer-item">
                    <h4>Others</h4>
                    <ul>
                        <li>Careers</li>
                        <li>Press</li>
                        <li>Licenses</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</body>
<script src="script.js"></script>

</html>