<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="style.css">

    <title>Shortly URL shortening API Challenge</title>
</head>

<body>

    <div class="container">
        <nav>
            <div class="brand-logo">
                <img src="images/logo.svg" alt="logo">
            </div>
            <div class="nav-item-groups">
                <div class="nav-group-left">
                    <div class="nav-items">
                        <a href="#" class="nav-item">Features</a>
                        <a href="#" class="nav-item">Pricing </a>
                        <a href="#" class="nav-item">Resources</a>
                    </div>
                </div>
                <div class="nav-group-right">
                    <div class="nav-items">
                        <a href="#" class="nav-item">Login</a>
                        <a href="#" class="nav-item sign-up-button">Sign Up</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hero">
            <div class="hero-image">
                <img src="images/illustration-working.svg" alt="working">
            </div>
            <div class="hero-content">
                <h1 class="hero-title">More than just shorter links</h1>
                <p class="hero-description">Build your brand's recognition and get detailed insights on how your link are performing.</p>
                <button class="get-started-button">Get Started</button>
            </div>
        </div>
        <div class="content">
            <section class="action-box-container">
                <div class="action-box">
                    <input type="url" name="url" id="url" placeholder="Shorten a link here...">
                    <button class="shorten-it-button">Shorten It!</button>
                </div>
            </section>
            <section class="advanced-statistics">
                <div class="advanced-statistics-subsection-one">
                    <h2>Advanced Statistics</h2>
                    <p>Track how your links are performing across the web with our advanced statistics dashboard.</p>
                </div>
                <div class="advanced-statistics-subsection-two">
                    <div class="advanced-statistics-card card-one">
                        <img src="images/icon-brand-recognition.svg" alt="brand recognition">
                        <h3>Brand Recognition</h3>
                        <p>Boost your brand recognition with each click. Generic links don't mean a thing. Branded links help instil confidence in your content.</p>
                    </div>
                    <div class="advanced-statistics-card card-two">
                        <img src="images/icon-detailed-records.svg" alt="detailed records">
                        <h3>Detailed Records</h3>
                        <p>Gain insights into who is cliking your links. Knowing when and where people engage with your content helpls inform better decisions.</p>
                    </div>
                    <div class="advanced-statistics-card card-three">
                        <img src="images/icon-fully-customizable.svg" alt="fully customizable">
                        <h3>Fully Customizable</h3>
                        <p>Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer">
            <div class="boost-links-today">
                <h2>Boost your links today</h2>
                <button class="get-started-button get-started-button-footer">Get Started</button>
            </div>
            <div class="footer-sections">
                <div class="footer-section">
                    <h1>Shortly</h1>
                </div>
                <div class="footer-section">
                    <ul>
                        <li class="footer-section-title-li"><a id="footer-section-title" href="">Features</a></li>
                        <li><a href="">Link Shortening</a></li>
                        <li><a href="">Branded Links</a></li>
                        <li><a href="">Analytics</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <ul>
                        <li class="footer-section-title-li"><a id="footer-section-title" href="">Resources</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Developers</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <ul>
                        <li class="footer-section-title-li"><a id="footer-section-title" href="">Company</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Our Team</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <img src="images/icon-facebook.svg" alt="">
                    <img src="images/icon-twitter.svg" alt="">
                    <img src="images/icon-pinterest.svg" alt="">
                    <img src="images/icon-instagram.svg" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>