<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

    <title>Pricing Component with Toggle</title>
</head>

<body>
    <div class="container">
        <div class="hero">
            <h1>Our Pricing</h1>
            <div class="toggle-container">
                <span>Annually</span>
                <label class="switch">
                    <input type="checkbox" id="duration" onchange="togglePricing(this.id)">
                    <span class="slider round"></span>
                </label>
                <span>Monthly</span>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <h4>Basic</h4>
                <p class="price">$ <span id="basic-amount" class="amount">199.99</span></p>
                <table>
                    <tr>
                        <td>500 GB Storage</td>
                    </tr>
                    <tr>
                        <td>2 Users Allowed</td>
                    </tr>
                    <tr>
                        <td>Send up to 3 GB</td>
                    </tr>
                </table>
                <button>Learn More</button>
            </div>
            <div class="card" id="professional-card">
                <h4>Professional</h4>
                <p class="price">$ <span id="professional-amount" class="amount">249.99</span></p>
                <table>
                    <tr>
                        <td>1 TB Storage</td>
                    </tr>
                    <tr>
                        <td>5 Users Allowed</td>
                    </tr>
                    <tr>
                        <td>Send up to 10 GB</td>
                    </tr>
                </table>
                <button>Learn More</button>
            </div>
            <div class="card">
                <h4>Master</h4>
                <p class="price">$ <span id="master-amount" class="amount">399.99</span></p>
                <table>
                    <tr>
                        <td>2 TB Storage</td>
                    </tr>
                    <tr>
                        <td>10 Users Allowed</td>
                    </tr>
                    <tr>
                        <td>Send up to 10 GB</td>
                    </tr>
                </table>
                <button>Learn More</button>
            </div>
        </div>
    </div>
</body>

</html>